.row
  - if @feeds.any?
    .section
      = link_to "Add Feed", new_feed_path, class: "btn waves-effect waves-light"

    .section
      .collection
        = link_to "All Feeds", feeds_path, class: "collection-item"
        - @feeds.each do |feed|
          = link_to feed.name, feed, class: "collection-item"

  - else
    .card-panel
      %span
        You have not added any feeds. Add one
        = link_to "here", new_feed_path
