- content_for(:side_panel) do
  = render 'list'

%h4= @feed.name

%span.right
  = link_to "Refresh", refresh_feed_path, class: "btn waves-effect waves-light"

.clearfix

.cards-container
  = render partial: 'articles/article', collection: @feed.articles

