---
http_interactions:
- request:
    method: get
    uri: http://feeds.bbci.co.uk/news/world/rss.xml?edition=uk
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Sun, 10 Apr 2016 05:28:15 GMT
      Content-Type:
      - text/xml
      X-Igor:
      - 'True'
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<?xml-stylesheet title=\"XSL_formatting\"
        type=\"text/xsl\" href=\"/shared/bsp/xsl/rss/nolsol.xsl\"?>\n\n<rss xmlns:media=\"http://search.yahoo.com/mrss/\"
        xmlns:atom=\"http://www.w3.org/2005/Atom\" version=\"2.0\">  \n  <channel>
        \n    <title>BBC News - World</title>  \n    <link>http://www.bbc.co.uk/news/world</link>
        \ \n    <description>The latest stories from the World section of the BBC
        News web site.</description>  \n    <language>en-gb</language>  \n    <lastBuildDate>Sun,
        10 Apr 2016 04:32:57 GMT</lastBuildDate>  \n    <copyright>Copyright: (C)
        British Broadcasting Corporation, see http://news.bbc.co.uk/2/hi/help/rss/4498287.stm
        for terms and conditions of reuse.</copyright>  \n    <image> \n      <url>http://news.bbcimg.co.uk/nol/shared/img/bbc_news_120x60.gif</url>
        \ \n      <title>BBC News - World</title>  \n      <link>http://www.bbc.co.uk/news/world</link>
        \ \n      <width>120</width>  \n      <height>60</height> \n    </image>  \n
        \   <ttl>15</ttl>  \n    <atom:link href=\"http://feeds.bbci.co.uk/news/world/rss.xml\"
        rel=\"self\" type=\"application/rss+xml\"/>  \n    <item> \n      <title>Kerala
        temple fire leaves 100 dead</title>  \n      <description>The death toll rises
        to more than 100 after fireworks sparked a blaze at Puttingal temple in the
        Indian state of Kerala, police say.</description>  \n      <link>http://www.bbc.co.uk/news/world-asia-india-36008741#sa-ns_mchannel=rss&amp;ns_source=PublicRSS20-sa</link>
        \ \n      <guid isPermaLink=\"false\">http://www.bbc.co.uk/news/world-asia-india-36008741</guid>
        \ \n      <pubDate>Sun, 10 Apr 2016 05:13:22 GMT</pubDate> \n    </item>  \n
        \   <item> \n      <title>Suspect 'says he is Brussels man in hat'</title>
        \ \n      <description>Belgian prosecutors say a suspect has admitted being
        the \"man in the hat\" seen with the suicide bombers who attacked a Brussels
        airport.</description>  \n      <link>http://www.bbc.co.uk/news/world-europe-36005709#sa-ns_mchannel=rss&amp;ns_source=PublicRSS20-sa</link>
        \ \n      <guid isPermaLink=\"false\">http://www.bbc.co.uk/news/world-europe-36005709</guid>
        \ \n      <pubDate>Sat, 09 Apr 2016 19:19:37 GMT</pubDate>  \n      <media:thumbnail
        width=\"66\" height=\"49\" url=\"http://c.files.bbci.co.uk/4CC7/production/_89155691_breaking_image_large-3.png\"/>
        \ \n      <media:thumbnail width=\"144\" height=\"81\" url=\"http://c.files.bbci.co.uk/73D7/production/_89155692_breaking_image_large-3.png\"/>
        \n    </item>  \n    <item> \n      <title>PM releases tax returns data amid
        row</title>  \n      <description>David Cameron reveals his earnings and taxes
        in an unprecedented move by a UK prime minister, after his father was mentioned
        in the leaked Panama Papers.</description>  \n      <link>http://www.bbc.co.uk/news/uk-politics-36007718#sa-ns_mcha[...]
