- content_for(:side_panel) do
  = render 'list'

%h4 Bookmarked Articles

- if @bookmarked_articles.any?
  = render partial: 'feeds/article', collection: @bookmarked_articles, as: :article

- else
  .well
    You have not bookmarked any articles
