.navbar-fixed
  %nav
    .nav-wrapper
      = link_to "Goggle Reader", root_path

      %a.button-collapse{"data-activates" => "mobile-demo", :href => "#"}
        %i.material-icons menu

      %ul.right.hide-on-med-and-down
        %li
          = link_to "Link 1", "#"

      %ul.side-nav#mobile-demo
        %li
          = link_to "Link 1", "#"